
.footer {
    flex-direction: column;
}

.footer__top-sector {
    display: flex;
    justify-content: space-between;
    height: 105px;
    align-items: center;
    background-color: #4cb1ca;
    padding: 0px 175px 0px 175px;
}

.top-sector__delivery {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
}
      
.top-sector-icon {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 65px;
    height: 65px;
    margin-right: 20px;
}

.top-sector__delivery-phone {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
}

.fa.fa-truck {
    font-size: 35px;
    font-family: "FontAwesome";
    color: rgb(57, 160, 185);
    position: absolute;
    transform: translate(14px, 14px);
}

.fa.fa-phone {
    font-size: 35px;
    font-family: "FontAwesome";
    color: rgb(57, 160, 185);
    position: absolute;
    transform: translate(18px, 16px);
}

.footer__main-sector {
    display: flex;
    flex-direction: row;
    background-color: #39a0b9;
    padding: 50px 175px 60px 175px;
}

.main-sector__facebook {
    display: flex;
    flex-direction: column;
}

.facebook-topik {
    padding-bottom: 15px;
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(245, 245, 245);
}

.facebook-topik-title {
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    padding: 10px 0px 0px 0px;
}

.facebook-topik-icon {
    background-image: url('../../images/icon.jpg');
    border-radius: 3px;
    width: 47px;
    height: 23px;
    margin: 5px 0px 5px 0px;
}

.facebook-topik-icon__group {
    display: flex;
    flex-wrap: wrap;
    max-width: 240px;
    border-top: 1px solid #4cb1ca;
    border-bottom: 1px solid #4cb1ca;
    padding: 5px 0px 5px 0px;
}

.facebook-topik-icon__group img {
    flex:1 1 calc(33.33% - 30px);
    padding: 5px 10px 5px 0px;
}

.main-sector__twitter {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
}

.twitter__content-top {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.twitter-topik {
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(245, 245, 245);
}

.main-sector-icon {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 43px;
    height: 43px;
}

.fa.fa-twitter {
    font-size: 26px;
    font-family: "FontAwesome";
    color: rgb(57, 160, 185);
    position: absolute;
    transform: translate(10px, 10px); 
}

.main-sector-text__top {
    display: flex;
    margin-left: 15px;
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.twitter__content-bottom {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.main-sector-text__bottom {
    display: flex;
    margin-left: 15px;
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.main-sector__information {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
}

.information-topik {
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(245, 245, 245);
    padding-bottom: 10px;
}

.information__links {
    list-style: none;
    padding: 0;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.75;
}

.fas.fa-angle-right {
    font-size: 14px;
    font-family: "FontAwesome";
    color: rgb(255, 255, 255);
}

.main-sector__contact {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
}

.contact-topik {
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(245, 245, 245);
    padding-bottom: 14px;
}

.contact__information {
    list-style: none;
    padding: 0px 0px 10px 0px;
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.85;
    border-bottom: 1px solid #4cb1ca;
}

.contact-group-icons {
    display: flex;
    flex-direction: row;
}

.contact-icon {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 36px;
    height: 36px;
    margin: 5px 10px 0px 0px;
}

.fa.fa-google-plus {
    font-size: 18px;
    font-family: "FontAwesome";
    color: rgb(57, 160, 185);
    transform: translate(10px, 9px);
}

.fa.fa-linkedin {
    font-size: 18px;
    font-family: "FontAwesome";
    color: rgb(57, 160, 185);
    transform: translate(11px, 8px);
}

.fa.fa-rss {
    font-size: 18px;
    font-family: "FontAwesome";
    color: rgb(57, 160, 185);
    transform: translate(12px, 9px);
}

.fa.fa-facebook {
    font-size: 18px;
    font-family: "FontAwesome";
    color: rgb(57, 160, 185);
    transform: translate(13px, 10px);
}

.footer__bottom-sector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #0b4b5a;
    padding: 0px 175px 0px 175px;
}

.bottom-sector__copyrights {
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(138, 220, 240);
}

.nav__bottom-menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav__bottom-menu li {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-right: 1px solid #ffffff;
    border-color: rgb(138, 220, 240);
    height: 13px;
    
}

.nav__bottom-menu li:nth-last-child(1) {
    border-right: 0;
}

.nav__bottom-menu li a {
    font-size: 13px;
    font-family: "Open Sans";    
    color: rgb(138, 220, 240);
    text-decoration: none;
}
