
.footer {
    flex-direction: column;
}

.footer--padding {
    padding: 0 190px;
}

.footer__top-sector {
    display: flex;
    justify-content: space-between;
    height: 105px;
    align-items: center;
    background-color: #4cb1ca;
}

.top-sector__delivery {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
}
      
.top-sector-icon {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 65px;
    height: 65px;
    margin-right: 20px;
}

.top-sector__delivery-phone {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
}

.fa.fa-truck {
    font-size: 35px;
    font-family: "FontAwesome";
    color: rgb(57, 160, 185);
    position: absolute;
    transform: translate(14px, 14px);
}

.fa.fa-phone {
    font-size: 35px;
    font-family: "FontAwesome";
    color: rgb(57, 160, 185);
    position: absolute;
    transform: translate(18px, 16px);
}

.footer__main-sector {
    display: flex;
    flex-direction: row;
    height: 340px;
    background-color: #39a0b9;
    padding-top: 50px;
}

.main-sector__facebook {
    display: flex;
    flex-direction: column;
}

.facebook-topik {
    padding-bottom: 15px;
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(245, 245, 245);
}

.facebook-topik-title {
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    padding: 10px 0px 0px 0px;
}

.facebook-topik-icon {
    background-image: url('../../images/icon.jpg');
    border-radius: 3px;
    width: 47px;
    height: 23px;
    margin: 5px 0px 5px 0px;
}

.facebook-topik-icon__group {
    display: flex;
    flex-wrap: wrap;
    max-width: 240px;
    border-top: 2px solid #4cb1ca;
    border-bottom: 2px solid #4cb1ca;
    padding: 5px 0px 5px 0px;
}

.facebook-topik-icon__group img {
    flex:1 1 calc(33.33% - 30px);
    padding: 5px 10px 5px 0px;
}

.main-sector__twitter {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
}

.twitter__content-top {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.twitter-topik {
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(245, 245, 245);
}

.main-sector-icon {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 43px;
    height: 43px;
}

.fa.fa-twitter {
    font-size: 26px;
    font-family: "FontAwesome";
    color: rgb(57, 160, 185);
    position: absolute;
    transform: translate(10px, 10px); 
}

.main-sector-text__top {
    display: flex;
    margin-left: 15px;
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.twitter__content-bottom {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}

.main-sector-text__bottom {
    display: flex;
    margin-left: 15px;
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.5;
}