.header {
    height: 150px;
    flex-direction: column;
    font-size: 13px;
    color: #ffffff;
}

.header__top-menu {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-around;
    background-color: #4cb1ca;
}

.top-menu__default-setting,
.nav__menu {
    display: flex;
}

.nav__menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__menu li {
    padding: 0px 10px;
    border-right: 1px solid #ffffff;
}

.nav__menu li:nth-last-child(1) {
    border-right: 0;
}

.nav__menu li a {    
    color: #ffffff;
    text-decoration: none;
}

.header__top-menu,
.header__main-menu {
    width: inherit;
}

.header__main-menu {
    display: flex;
    height: 105px;    
}

.main-menu {
    display: flex;
}

.main-menu__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #656565;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
}


.menu__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    background-color: #ffffff;
    width: 350px;
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 50px;
}

.menu__links a {
    color: #656565;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: linear .3s;
    -moz-transition: linear .3s;
    -ms-transition: linear .3s;
    -o-transition: linear .3s;
}

.menu__links a:hover {
    border-bottom: 2px solid #4cb1ca;
}

