
.main {
    width: 100%;
    flex-direction: column;
}

.main__banner {
    display: flex;
    align-items: center;
    background: url('../../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 480px;
}

.main__banner-title {
    margin-left: 17%;
    font-size: 30px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
}
      
.layer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: lighter;
    font-family: "Open Sans";
    background-color: rgba(76, 76, 68, 0.7);
    color: rgb(255, 255, 255);
    text-align: left;
    height: 50px;
    width: 285px;
}

.layer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    font-size: 28px;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: rgba(76, 76, 68, 0.7);
    height: 50px;
    color: rgb(255, 255, 255);
    width: 330px;
}

.nav__group-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-group-icon__left {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 121px;
    top: 353px;
    width: 67px;
    height: 67px;
    color: #cdcdcd;
    transition: 0.3s transform ease-in-out;
}

.nav-group-icon__left:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.nav-group-icon__right {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 100px;
    top: 360px;
    width: 67px;
    height: 67px;
    color: #cdcdcd;
    transition: 0.3s transform ease-in-out;
}

.nav-group-icon__right:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.fa.fa-angel-left {
    font-family: "FontAwesome";
    color: rgb(205, 205, 205);
    position: absolute;
}

.fa.fa-angel-right {
    font-family: "FontAwesome";
    color: rgb(205, 205, 205);
    position: absolute;
}

.main__content {
    margin-top: 50px;
    padding: 0 5%;
}

.content__caption {
    font-size: 22px;
    font-family: "Open Sans";
    color: rgb(99, 95, 87);
    padding-bottom: 25px;
}


.content__products {
    display: flex;
    flex-wrap: wrap;
    margin: -30px;
    padding-bottom: 80px;
 }
 
.products-item {
    flex: 1 1 20%;
    margin: 30px;
    border: 8px solid #ffffff;
    box-shadow: 0px 0px 5px 1px rgb(238, 238, 238);
}

.item__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eff1f0;
    height: 220px; 
}

.item__desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desc__item {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-bottom: 20px;
}

.item__name {
    font-size: 13px;
    font-weight: 600;
    font-family: "Open Sans";
    color: #69666a;
}

.item__cost {
    padding-top: 3px;
    font-size: 16px;
    font-family: "Open Sans";
    color: #7db122;
}

.buy__icon {
    border-radius: 50%;
    background-color: rgb(125, 177, 34);
    width: 40px;
    height: 40px;
    transition: 0.3s transform ease-in-out;
}

.buy__icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.fa.fa-shopping-basket {
    font-family: "FontAwesome";
    color: #ffffff;
    position: absolute;
    transform: translate(11px, 11px);
}

.item__discount {
    display: flex;
    align-items: center;
    text-decoration: line-through;
    font-size: 12px;
    color: #69666a;
    bottom: 15px;
    position: relative;  
}