
.main__banner {
    display: flex;
    align-items: center;
    background: url('../../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 480px;
}

.main__banner-title {
    margin-left: 17%;
    font-size: 30px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.667;
}
      
.layer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: lighter;
    font-family: "Open Sans";
    background-color: rgba(76, 76, 68, 0.7);
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-align: left;
    height: 50px;
    width: 285px;
}

.layer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    font-size: 28px;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: rgba(76, 76, 68, 0.7);
    height: 50px;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    width: 330px;
}

.nav__group-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-group-icon__left {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 121px;
    top: 353px;
    width: 67px;
    height: 67px;   
}

.nav-group-icon__right {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 100px;
    top: 360px;
    width: 67px;
    height: 67px;
}

.fa.fa-angel-left {
    font-family: "FontAwesome";
    color: rgb(205, 205, 205);
    line-height: 1.2;
    position: absolute;
}

.fa.fa-angel-right {
    font-size: 55px;
    font-family: "FontAwesome";
    color: rgb(205, 205, 205);
    line-height: 1.2;
    position: absolute;
}

.main__content {
    padding: 0 190px;
    position: absolute;
    height: 705px;
    top: 675px;
}

.content__products {
    /* height: 320px; */
    background-color: #eff1f0;
}

.products-item {
    display: inline-block;
    height: 320px;
    background-color: inherit;
    
    
}
