@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
nav{
    padding: 92px 410px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}

.Leo shop {
    color: #656565;
    text-transform: uppercase;
    font-size: 30px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    width: 45%;
}
.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #656565;
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    transition: linear .3s;
    -moz-transition: linear .3s;
    -ms-transition: linear .3s;
    -o-transition: linear .3s;
}

.nav-links a:hover {
    border-bottom: 2px solid #4cb1ca;
}
.burger {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

header{
    width: 100%;
    background: #4cb1ca;
}